In [45]:
import snowflake.connector
from snowflake.connector.pandas_tools import write_pandas  
import pandas as pd

In [46]:
# Establish a connection to Snowflake
conn = snowflake.connector.connect(
    user='AYUSH2903',
    password='Ayush@123',
    account='skrqypy-dy20786',
    warehouse='dbt_wh',
    database='dbt_db',
    schema='dbt_schema',
    role='dbt_role'
)

In [47]:
cur = conn.cursor()

In [48]:
# Step 1: Read the CSV file
csv_file_path = 'C:/Users/DELL/CSV_LOCAL_DATA/Larget_public_con_head_fix.csv'  # Update with your CSV file path
data = pd.read_csv(csv_file_path, nrows=0)

In [49]:
data

Empty DataFrame
Columns: [Company,  Revenues,  Profit, Profit_as_per, Category]
Index: []

In [50]:
trg_table_name = "TABLE_FROM_LOCAL_1_CODE"

In [54]:
columns = data.columns.tolist()
columns

['Company', ' Revenues', ' Profit', 'Profit_as_per', 'Category']

In [55]:
create_table_query = f"""
CREATE OR REPLACE TABLE {trg_table_name} (
    {', '.join([f'"{col}" STRING' for col in columns])}
);
"""

In [56]:
# Execute the CREATE TABLE query
with conn.cursor() as cursor:
    cursor.execute(create_table_query)

In [57]:
#checking if overwrite table is blank
cur.execute(f"SELECT * FROM {trg_table_name}")
rows = cur.fetchall()

# Print the results
print(len(rows))

0

In [58]:
full_data = pd.read_csv(csv_file_path)

In [59]:
full_data.head(2)

             Company   Revenues     Profit Profit_as_per         Category
0  Johnson & Johnson   $71,890    $18,540         25.80%  Pharmaceuticals
1       Altria Group   $19,337    $14,239         73.60%          Tobacco

In [60]:
# Use the `write_pandas` method to load the DataFrame into Snowflake
success, num_chunks, num_rows, _ = write_pandas(
    conn,
    full_data,
    trg_table_name,
    auto_create_table=False,
    overwrite=True  # Set to True to overwrite existing data
)

In [61]:
# Check if the data was loaded successfully
if success:
    print(f"Loaded {num_rows} rows into {trg_table_name}")
else:
    print("Data load failed.")

Loaded 36 rows into TABLE_FROM_LOCAL_1_CODE

In [62]:
#checking if overwrite table is blank
cur.execute(f"SELECT * FROM {trg_table_name}")
rows = cur.fetchall()

# Print the results
row_count = len(rows)
row_count

36

In [63]:
# Close the connection
conn.close()